:root {
    /* fonts */
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, san-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    /* colours */
    --background: #1b1b1b;
    --block-background: #2b2b2b;
    --block-highlight: #3b3b3b;

    --cv-button: orange;
    --cv-button-hover: yellow;
    --cv-button-highlight: white;
}

* {
}

html {
}

body {
    background-color: var(--background);
}

/* -- header -- */
header {
    display: grid;
    justify-items: right;
}

/* -- cv button -- */
.cv_button {
    background: none;
    border: 2px solid;
    border-radius: 0.75em 0 0.75em 0.5em;
    font-family: var(--system-ui);
    line-height: 1;
    margin: 0 0.5em;
    padding: 0.5em 1em;
}

.shine_button {
    color: var(--cv-button);
    border-color: var(-cv-button);
}
.shine_button:hover {
    color: var(--cv-button-highlight);
    border-color: var(--cv-button-hover);
    box-shadow: 0 0 1em 0 var(--cv-button-hover);
}

/* -- main -- */
main {
}

/* -- info block -- */
.block {
    background: var(--block-background);
    max-width: 700px;
    min-width: 300px;
    width: 80%;
    height: auto;
    border: 1px solid;
    border-color: var(--block-highlight);
    border-radius: 1em 1em 1em 1em;
    box-shadow: 0 0 0.5em 0 var(--block-highlight);
    padding: 0.5em;
    margin: 1.5em auto;
}

.inner_block {
    display: block;
    padding: 1em;
}

.internal_block {
    display: grid;
    grid-template-columns: 100px repeat(2, 1fr);
    grid-auto-rows: auto-fit;
    border: 1px solid;
    border-color: #4b4b4b;
    border-radius: 1em 1em 1em 1em;
    box-shadow: 0.5em 0.5em 0.5em 0 var(--background);
    background: var(--block-background);
    padding: 1em;
    margin: 1em;
}

.info {
    display: grid;
    grid-template-columns: 100px repeat(2, 1fr);
    grid-auto-rows: auto-fit;
}

.info img {
    max-width: 100px;
    width: 100%;
    height: 100%;
    border-radius: 30%;
    overflow: hidden;
    grid-row: span 4;
}

.text {
    font-family: var(--system-ui);
    color: white;
}

.header {
    font-size: 2em;
}

.info .header {
    padding: 0.25em 0 0 0.25em;
}

.sub-header {
    font-size: 1em:
}

.info .sub-header {
    padding: 0.5em 0 0 0.5em;
}

.info .header, .info .sub-header {
    grid-column: span 2;
}

.person {
    display: flex;
}

.person .email, .person .location {
    display: flex;
    padding: 0.5em;
}

.person .email .sub-header, .person .location .sub-header {
    padding: 0.2em 0 0 0.5em;
}

.socials {
    text-align: center;
    padding: 0.5em;
}

.socials a {
    text-decoration: none;
}

.socials svg:hover path {
    fill: #ffa348;
}

.about .header {
    padding: 0.1em 0 0.25em 0;
}

.about .sub-header {
    text-align: left;
    padding: 0.1em 0 0 0;
}

@media(max-width: 600px) {
    .internal_block {
        display: block;
        text-align: center;
    }

    .info {
        grid-template-columns: 75px repeat(2, 1fr);
    }

    .info_card img {
        max-width: 75px;
    }

    .header {
        font-size: 1.75em;
    }

    .sub-header {
        font-size: 0.9em;
    }
    .info .header {
        padding: 0.1em 0 0 0.25em;
    }

    .info .sub-header {
        padding: 0.25em 0 0 0.5em;
    }

    .person {
        display: block;
    }

    .person .email, .person .location {
        padding: 0.5em 0 0 0;
    }

    .about .header {
        padding: 0.1em 0 0.1em 0;
    }

    .about .sub-header {
        padding: 0;
    }
}

