/* imported fonts */

:root {
    --background: darkslategray;
    --cv-button: orange;
    --cv-button-hover: yellow;
    --cv-button-highlight: white;
}

* {
    /* */
}

html {
    /* */
}

body {
    background-color: var(--background);
}

/* -- cv button -- */

header {
    /* */
}

.sticky-header {
    /* */
}

.cv_button {
    background: none;
    border: 2px solid;
    line height: 1;
    margin: 0.5em;
    padding: 0.5em 1em;
}

.shine_button {
    /* */
}
