@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Open Sans",  Arial, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: Cornsilk;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 18px;
    color: Black;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 14px;
    color: Black;
    font-weight: 700;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: Black;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
    background: DarkOrange;
}

.navbar a:active {
    width: 100%;
    background: DarkOrange;
}

@media screen and (max-width: 767px) {
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: White;
}
}
